<form class="form-horizontal"  role="form">
  <div class="page-title">
    <div class="row" style="margin-left: 7px;">
      <h2>
        <span class="fa fa-question"></span> Interrogazione Default
      </h2>                                                                   
       </div> 
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Titolo</label>
            <div class="col-md-6 col-xs-12">                                            
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                    <input type="text" class="form-control" value="Interrogazione Default"/>
                </div>                                            
                <span class="help-block">Inserisci il titolo dell'interrogazione</span>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Corso</label>
          <div class="col-md-6 col-xs-12">                                                                                            
              <select class="form-control select">
                  <option>Basi di Dati</option>
                  <option>Java Back-End</option>
                  <option>Front-End</option>
                  <option>Data Science</option>
                  <option>Superare un Colloquio</option>
              </select>
              <span class="help-block">Seleziona il corso relativo</span>
          </div>
      </div>
        
      <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">Studente</label>
        <div class="col-md-6 col-xs-12">                                                                                            
            <input type="text" class="tagsinput" value="Marco Angeleri,Michela Cani,Dante Alighieri"/>
            <span class="help-block">Inserisci lo studente che ha svolto l'interrogazione</span>
        </div>
      </div>
        
        <div class="form-group">                                        
            <label class="col-md-3 col-xs-12 control-label">Data Interrogazione</label>
            <div class="col-md-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    <input type="text" class="form-control datepicker" value="2017-11-01">                                            
                </div>
                <span class="help-block">Inserisci la data dell'interrogazione</span>
            </div>
        </div>

        
        
        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Giudizio</label>
          <div class="col-md-6 col-xs-12">                                                                                            
              <select class="form-control select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
              </select>
              <span class="help-block">Seleziona il giudizio</span>
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 col-xs-12 control-label">Esito</label>
        <div class="col-md-6 col-xs-12">                                                                                                                                        
          <label class="radio-material">
            <input id="radio1" type="radio" name="radios" checked>
            <span class="outer"><span class="inner"></span></span> Superato
            <br>
            <input id="radio1" type="radio" name="radios">
            <span class="outer"><span class="inner"></span></span> Non Superato
          </label> 
            <span class="help-block">Seleziona l'esito</span>
        </div>
    </div>
        
    <div class="form-group">
      <label class="col-md-3 col-xs-12 control-label">Commento</label>
      <div class="col-md-6 col-xs-12">                                            
          <textarea class="form-control" rows="5"></textarea>
          <span class="help-block">Inserisci eventuali osservazioni</span>
      </div>
  </div>

    </div>
    <div class="panel-footer">
        <button class="btn btn-default">Ripristina Default</button>                                    
        <button class="btn btn-primary pull-right">Invia</button>
    </div>
</div>

</form>